.welcome-text{
  color: yellow;
  margin-top: 30px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.063);
}

.navbar-container {
  margin-left: 60px;
  padding: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
  color: yellow;
}

.btn-link {
  color: #fff;
}

.fa-sign-out-alt {
  color: #fff;
  margin-right: 5px;
}

.ml-auto {
  margin-left: auto;
}
.nav-link.active {
  color: yellow !important;
}

.ml-auto {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.btn-link {
  color: #fff;
  display: flex;
  align-items: center;
}

.fa-sign-out-alt {
  color: #fff;
  margin-right: 5px;
}